<div>

  <form class="example-form">

    <h2>{{title}}</h2>

    <p> 
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Input:" [(value)]="inputText" >
      </mat-form-field>
    </p>
    
    <p>
      <button mat-raised-button color="primary" (click)="handleHello()">Hello</button>
    </p>

    <p>
      <button mat-raised-button color="primary" (click)="handleGoodbye()">Goodbye</button>
    </p>

    <p>
      <button mat-raised-button color="primary" [disabled]=(!inputText) (click)="handleUpperCase()">Upper Case</button>
    </p>

    <p>
      <button mat-raised-button color="primary" [disabled]=(!inputText) (click)="handleLowerCase()">Lower Case</button>
    </p>

    <p>
      <button mat-raised-button color="primary" [disabled]=(!inputText) (click)="handleMessage()">Show Input Message</button>
    </p>

    <p>
        <button mat-raised-button color="primary" [disabled]=(!inputText) (click)="handleClear()">Clear Input Message</button>
     </p>
  
    </form>

</div>


<!-- <router-outlet></router-outlet> -->
